.container.profilePage
    .profilePage_user
        .profilePage_user_name
            = current_user.display_name
        .profilePage_user_image
            = image_tag current_user.avatar_image
        .profilePage_user_image_area.hidden
            %input(type="file" name = 'image' id='user_image_tag')
            .btn-secondary.add-user-image-btn
                アバターを更新
        .profilePage_user_basicInfo
            = link_to '#', class: 'profilePage_user_basicInfo_posts' do
                %h3 44
                %p Posts
            = link_to '#', class: 'profilePage_user_basicInfo_followers' do
                %h3 110
                %p Followers
            = link_to '#', class: 'profilePage_user_basicInfo_following' do
                %h3 44
                %p Following
        .profilePage_user_articles
            = image_tag 'default-article-image1.jpeg'