.session-image
  = image_tag 'Rectangle.png', width: '100%', height: '700px'
.container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'text'
    .field
      = f.label :password, class: 'text'
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'text'
    .devise-links
      = render "devise/shared/links"
    .actions
      = f.submit "LOGIN", class: 'submit-btn'
